<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous'/>

  <link rel="stylesheet" href="./css/style.css">

  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.2/dayjs.min.js"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <title>Document</title>
</head>
<body>

  <div class="top">
    <main class="container" id="app">

      <div class="main-left">
        <div class="top-left">
  
          <div class="user">
            <img src="/img/avatar_io.jpg" alt="">
            <div class="info">
              <span>Sofia</span>
            </div> 
          </div>
  
          <div class="action">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
  
        </div>

        <div class="notifiche">
          <i class="fa-solid fa-bell-slash"></i>
          <div class="attiva">
            <p>Ricevi notifiche di nuvi messaggi</p>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>

        <div class="search">
          <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
          <input 
            v-model.trim="user"
            @keyup.enter="search()"
            type="text" placeholder=" Cerca o inizia una nuova chat">
        </div>

        <div class="contatti">

          <div 
            v-for="(contact,index) in contacts"
            @click="showUser(index)"
            v-if="contact.visible === true"
            class="contatto"
            :class="{'clicked' : courrentUser === index}">
            <img :src="`./img/avatar${contact.avatar}.jpg`" alt="">
            <div class="info">
              <span>{{contact.name}}</span>
              <p>{{getLastMessage(index)}}</p> 
            </div>
          </div>
 
        </div>
  
      </div>
  
      <div class="main-right">
        <div class="top-right">
  
          <div class="user">
            <img :src="`./img/avatar${contacts[courrentUser].avatar}.jpg`" alt="">
            <div class="info">
              <span>{{contacts[courrentUser].name}}</span>
              <p>Ultimo accesso oggi alle 12:00</p> 
            </div>
            
          </div>
  
          <div class="action">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
  
        </div>
  
        <div class="message-area">

          <div 
              class="message"
              v-for="message in contacts[courrentUser].messages"
              :class="message.status">

            <div class="message-text">{{message.message}}</div>
            <div class="message-time">{{message.date}}</div>
          </div>

        </div>

        <div class="message-input">
          <i class="fa-regular fa-face-smile"></i>
          <input
            v-model.trim="newMessage" 
            @keyup.enter="addNewMessage"
            type="text" 
            placeholder="  Scrivi messaggio">
          <i class="fa-solid fa-microphone"></i>
        </div>

      </div>
  
    </main>

  </div>
  <div class="down"></div>

  <script src="./js/script.js"></script>
</body>
</html>